In [3]:
my_age = 33
print(my_age)

33

In [4]:
my_age = 34
print(my_age)

34

In [5]:
my_age/3

11.333333333333334

In [6]:
my_age//3

11

In [7]:
type(33)

int

In [8]:
type(33.)

float

In [9]:
type('Noname')

str

In [10]:
type(my_age)

int

In [12]:
primeNumbers = [3,7,61,29,199]
type(primeNumbers)

list

In [14]:
coolPeople=['Jay Z', 'Ghandi', 'me']
primeAndPeople = ['King Arthur', 17, 11, 'Janifer Lopez']
type(primeAndPeople)

list

In [15]:
bestPrimeEver = primeNumbers[4]
print(bestPrimeEver)

199

In [16]:
import pandas as pd

In [17]:
data = pd.read_csv('18877814-lsd-math-score-data.csv')

In [18]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [20]:
type(data)

pandas.core.frame.DataFrame

In [23]:
onlyMAthScores = data['Avg_Math_Test_Score']
print(onlyMAthScores)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [26]:
data['Test_Subject'] = 'Jenifer Loupes'

In [28]:
data['Height_Score'] = 100

In [29]:
data['Height_Score'] = data['Avg_Math_Test_Score'] + 100

In [32]:
data['Height_Score'] = data['Height_Score']**2

In [33]:
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,Height_Score
0,5,1.17,78.93,Jenifer Loupes,32015.9449
1,15,2.97,58.20,Jenifer Loupes,25027.2400
2,30,3.26,67.47,Jenifer Loupes,28046.2009
3,60,4.69,37.47,Jenifer Loupes,18898.0009
4,120,5.83,45.65,Jenifer Loupes,21213.9225
5,240,6.00,32.92,Jenifer Loupes,17667.7264
6,480,6.41,29.97,Jenifer Loupes,16892.2009

In [34]:
type(onlyMAthScores)

pandas.core.series.Series

In [39]:
columnList = ['LSD_ppm','Avg_Math_Test_Score']
cleanData = data[columnList]
print(cleanData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [40]:
type(cleanData)

pandas.core.frame.DataFrame

In [45]:
y = data['Avg_Math_Test_Score']
type(y)

pandas.core.series.Series

In [46]:
y = data['Avg_Math_Test_Score']
type(y)

pandas.core.series.Series

In [51]:
X = data[['LSD_ppm']]
print(X)
type(X)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [52]:
del data['Test_Subject']
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  Height_Score
0                      5     1.17                78.93    32015.9449
1                     15     2.97                58.20    25027.2400
2                     30     3.26                67.47    28046.2009
3                     60     4.69                37.47    18898.0009
4                    120     5.83                45.65    21213.9225
5                    240     6.00                32.92    17667.7264
6                    480     6.41                29.97    16892.2009

In [53]:
del data['Height_Score']
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97