In [1]:
my_age = 33
print(my_age)

33

In [2]:
my_age = 34
print(my_age)

34

In [3]:
my_age/3

11.333333333333334

In [4]:
my_age//3

11

In [5]:
type(33)

int

In [6]:
type(33.)

float

In [7]:
type('Noname')

str

In [8]:
type(my_age)

int

In [9]:
primeNumbers = [3,7,61,29,199]
type(primeNumbers)

list

In [10]:
coolPeople=['Jay Z', 'Ghandi', 'me']
primeAndPeople = ['King Arthur', 17, 11, 'Janifer Lopez']
type(primeAndPeople)

list

In [11]:
bestPrimeEver = primeNumbers[4]
print(bestPrimeEver)

199

In [12]:
import pandas as pd

In [13]:
data = pd.read_csv('18877814-lsd-math-score-data.csv')

In [14]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [15]:
type(data)

pandas.core.frame.DataFrame

In [16]:
onlyMAthScores = data['Avg_Math_Test_Score']
print(onlyMAthScores)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [17]:
data['Test_Subject'] = 'Jenifer Loupes'

In [18]:
data['Height_Score'] = 100

In [19]:
data['Height_Score'] = data['Avg_Math_Test_Score'] + 100

In [20]:
data['Height_Score'] = data['Height_Score']**2

In [21]:
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,Height_Score
0,5,1.17,78.93,Jenifer Loupes,32015.9449
1,15,2.97,58.20,Jenifer Loupes,25027.2400
2,30,3.26,67.47,Jenifer Loupes,28046.2009
3,60,4.69,37.47,Jenifer Loupes,18898.0009
4,120,5.83,45.65,Jenifer Loupes,21213.9225
5,240,6.00,32.92,Jenifer Loupes,17667.7264
6,480,6.41,29.97,Jenifer Loupes,16892.2009

In [22]:
type(onlyMAthScores)

pandas.core.series.Series

In [23]:
columnList = ['LSD_ppm','Avg_Math_Test_Score']
cleanData = data[columnList]
print(cleanData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [24]:
type(cleanData)

pandas.core.frame.DataFrame

In [25]:
y = data['Avg_Math_Test_Score']
type(y)

pandas.core.series.Series

In [26]:
y = data['Avg_Math_Test_Score']
type(y)

pandas.core.series.Series

In [27]:
X = data[['LSD_ppm']]
print(X)
type(X)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [28]:
del data['Test_Subject']
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  Height_Score
0                      5     1.17                78.93    32015.9449
1                     15     2.97                58.20    25027.2400
2                     30     3.26                67.47    28046.2009
3                     60     4.69                37.47    18898.0009
4                    120     5.83                45.65    21213.9225
5                    240     6.00                32.92    17667.7264
6                    480     6.41                29.97    16892.2009

In [29]:
del data['Height_Score']
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [30]:
import life

In [31]:
type(life)

module

In [32]:
life.theAnswer

42

In [33]:
import math

In [34]:
print(math.pi)

3.141592653589793

In [35]:
from life import theAnswer

In [36]:
theAnswer

42

In [37]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [38]:
def get_milk():
    print('Open door')
    print("Walk to store")

In [39]:
get_milk()

Open door
Walk to store

In [57]:
def fill_the_frige(amount):
    print('bue ' + str(amount) + ' carons')

In [58]:
fill_the_frige("two")

bue two carons

In [45]:
type(5)

int

In [65]:
def milk_mission(amount, destenition):
    print('Walk to the ' + destenition)
    print('bue ' + str(amount) + ' carons')

In [66]:
milk_mission(amount='twenty', destenition='departmant store')

Walk to the departmant store
bue twenty carons

In [67]:
def times(x, y):
    result = x*y
    return result

In [69]:
times(3.14,5.09)

15.9826

In [70]:
times('Ni', 4)

'NiNiNiNi'

In [71]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!