In [1]:
import pandas as pd
import numpy as np

In [3]:
mydata = ['Boat', 'Car', 'Bike', 'Track']
myseries1 = pd.Series(mydata)

In [4]:
myseries1

0     Boat
1      Car
2     Bike
3    Track
dtype: object

In [5]:
mydata = [1,55,99,43]
myseries2 = pd.Series(mydata)
print(myseries2)

0     1
1    55
2    99
3    43
dtype: int64

In [12]:
mydfdata = [('Boat', 1), ('Car', 55), ('Bike', 99), ('Track', 43)]

mydf = pd.DataFrame(mydfdata, columns=['thing', 'count'])
mydf

   thing  count
0   Boat      1
1    Car     55
2   Bike     99
3  Track     43

In [15]:
mydf['thing']

0     Boat
1      Car
2     Bike
3    Track
Name: thing, dtype: object